@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
}
@{ 
    var className = Model.Customers.Count > 5 ? "popular" : null;
}
<h2>Random</h2>
<h1 class="@className">@Model.Movie.Name</h1>
@{ 
    if (Model.Customers.Count == 0)
    {
        <p>No one has rented this movie</p>
    }
    else
    {
        
            foreach (var customer in Model.Customers)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Customers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@customer.Name</td>
                        </tr>
                    </tbody>
                </table>
            }
       
    }
}

