@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.Birthdate != null)
        {
            <li>Birthdate: @Model.Birthdate</li>
        }
    </ul>
    <hr />
</div>


