<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="FacebookAppId" value="179482753439130" />
  <add key="FacebookAppSecret" value="6c9a6d96f4e84ff2d45b493673b0ff4a" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>